/* Default styles for all screen sizes */
.imageofdetails {
    height: 50%;
    margin-top: 162px;
    margin-left: 149px;
    border: 1px solid lavender;
  }
  
  .buttons {
    margin-left: 149px;
    margin-top: 10px;
  }
  
  .product-info {
    color: rgb(97, 97, 115);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mier book";
    width: 30%;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
  }
  
  .titleorprice {
    width: 543px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 20px 16px;
    border: 1px solid rgb(234, 234, 242);
  }
  
  .product-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
  }
  
  .button1 {
    margin-right: 90px !important;
  }
  
  .detaildescription {
    padding: 5px 10px;
    color: rgb(97, 97, 115);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mier book";
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 20px 16px;
    border: 1px solid rgb(234, 234, 242) !important;
    width: 544px;
  }
  
  .rating2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 3px 13px;
    background: rgb(35, 187, 117);
    fill: rgb(255, 255, 255);
    margin-left: 0px;
    color: white;
  }
  
  .size-selection {
    color: rgb(97, 97, 115);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mier book";
    margin-top: 20px;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 20px 16px;
    border: 1px solid rgb(234, 234, 242);
    width: 544px;
  }
  
  /* Responsive styles for mobiles and tablets */
  @media (max-width: 768px) {
    .imageofdetails {
      height: auto;
      max-width: 100%;
      margin-top: 30px;
      margin-left: 0;
    }
  
    .buttons {
      margin-left: 500px;
      margin-top: 300px;
      margin-right: 200px;
    }
  
    .product-info {
      width: 100%;
      margin-left: 0;
    }
  
    .titleorprice,
    .detaildescription,
    .size-selection {
      width: 100%;
    }
  }












  



  
  